<div class="lobby">
    <h2>Lobby</h2>
    <div class="user-slots">
        <div class="user-slot">
            <label for="user1">User 1:</label>
            <select id="user1" disabled [(ngModel)]="players[0]">
                <option [value]="userId">{{ username }}</option>
            </select>
        </div>

        <div class="user-slot">
            <label for="user2">User 2:</label>
            <select id="user2" [(ngModel)]="players[1]">
                <option value="empty">Empty</option>
                @for (user of userOptions; track user) {
                    <option [value]="user.value">{{ user.label }}</option>
                }
            </select>
        </div>

        <div class="user-slot">
            <label for="user3">User 3:</label>
            <select id="user3" [(ngModel)]="players[2]">
                <option value="empty">Empty</option>
                @for (user of userOptions; track user) {
                    <option [value]="user.value">{{ user.label }}</option>
                }
            </select>
        </div>

        <div class="user-slot">
            <label for="user4">User 4:</label>
            <select id="user4" [(ngModel)]="players[3]">
                <option value="empty">Empty</option>
                @for (user of userOptions; track user) {
                    <option [value]="user.value">{{ user.label }}</option>
                }
            </select>
        </div>
    </div>
  <button (click)="ready()" class="ready-button">READY</button>
</div>