<h2>Register</h2>
<div class="login-container">
    <form (submit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" placeholder="Email" id="email" name="email" [(ngModel)]="registration.email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username" name="username" [(ngModel)]="registration.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password" [(ngModel)]="registration.password">
        </div>
        <div class="form-group">
            <label for="repassword">Password</label>
            <input type="password" placeholder="Password" id="repassword" name="repassword" [(ngModel)]="registration.repassword">
        </div>
        <div class="redirect-form">
            <a href="/login">Already registered</a>
        </div>
        <input type="submit" value="Register">
    </form>
</div>