.table-container {
    margin: 20px;
    font-family: Arial, sans-serif;
    width: 75vw;
}
  
h2 {
    text-align: left;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #ffffff;
}
  
th, td {
   border: 1px solid #ddd;
   text-align: left;
   padding: 8px;
}
  
th {
    background-color: #f4f4f4;
}

/* Set specific widths for each column */
th:nth-child(1), td:nth-child(1) {
    width: 30%; /* Email column */
}

th:nth-child(2), td:nth-child(2) {
    width: 25%; /* Username column */
}

th:nth-child(3), td:nth-child(3) {
    width: 20%; /* Role column */
}

th:nth-child(4), td:nth-child(4) {
    width: 25%; /* Actions column */
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
}